* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: purple;
  }
  
  .cabecera {
    display: inline;
  }
  
  #imagenlogo {
    width: 35%;
  }
  
  .enlaces {
    text-decoration: none;
  }
  
  .iconos {
    width: 7%;
  }
  .menu{
    justify-content: baseline;
    
  }

.buscar{
    display: none;
    background-color: black;
}  