body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color:grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#imagenlogo {
  width: 25%;
  height: auto;
  border-radius: 5%;
}

.rayas{
  display: flex;
  justify-content: center;
  align-items: center;
}


.rayas img {
  width: 12%;
  height: auto;
  cursor: pointer;
}

.menu ul a {
display: none;
}

.iconos {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.iconos img {
  width: 9%;
  height: auto;
  cursor: pointer;
}

.buscar a {
  text-decoration: none;
  color: aquamarine;
  font-weight: bold;
}
.main{
  padding: 5%;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.top button {
  padding: 1rem 2rem;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.top button:hover {
  background-color: #007bff;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.Producto {
  border: 1px solid #ddd;
  border-radius: 5%;
  overflow: hidden;
  text-align: center;
  transition: box-shadow 0.3s;
  padding: 5%;
}

.Producto:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Producto img {
  width: 100%;
  height: auto;
  display: block;
}

.text-producto {
  padding: 1rem;
  background-color: #f8f8f8;
}

.overlay-text {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin: 0;
}

footer {
  background-color: #f8f8f8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid #ddd;
}

.sobre-quimera {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.sobre-quimera a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
  transition: color 0.3s;
}

.sobre-quimera a:hover {
  color: #007bff;
}

.logo-pie img {
  display: none ;
}

.nuestras-tiendas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.nuestras-tiendas h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.nuestras-tiendas button {
  padding: 2%;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5%;
  transition: background-color 0.3s;
}

.nuestras-tiendas button:hover {
  background-color: #0056b3;
}


@media (min-width: 578px) {
  header {
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem 2rem;
  }
  .menu{
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .rayas{
    height: 100%;
    width: 10rem;
  }

  .cabecera {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .top{
    flex-direction: row;
    justify-content: space-between;
  }
  
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
    gap: 20px;
  }
  footer{
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color:grey ;
  }
  
  .logo-pie{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-pie img {
    display: block;
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .menu {
    font-size: 1rem; 
    width: 100vh;
  }

  .menu ul a{
    display: inline;
    margin: 2%;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .rayas{
    display: none;
  }
  .menu ul a:hover {
    background-color: grey;
    color: goldenrod;
    border-radius: 5%;
    padding: 0.75rem;
  }
  .iconos{
    margin: 0%;
    width: 25%;
  }
  .main{
    background-color: purple;

  }

  .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 2rem; 
    background-color: #B3AFAC; 
    align-items: center; 
  }
  
  .sobre-quimera {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .sobre-quimera strong {
    font-size: 1.25rem;
    margin-bottom: 10px; 
  }
  
  .sobre-quimera a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .sobre-quimera a:hover {
    color: goldenrod;
  }
  
  .logo-pie {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .logo-pie img {
    width: 150px;
    border-radius: 7%;
  }
  
  .nuestras-tiendas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .nuestras-tiendas h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
  
  .nuestras-tiendas a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nuestras-tiendas a:hover {
    color: goldenrod;
  }
  
  .nuestras-tiendas button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .nuestras-tiendas button:hover {
    background-color: #0056b3;
  }
}